/*pages and configurations default*/
/*Color palets*/
/*Fonts*/
@import url("../vendor/bootstrap/scss/bootstrap.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/
a {
  text-decoration: none !important; }

.table td, .table th {
  vertical-align: middle; }

a, button, input {
  outline: none !important; }

a, h5, h6, label, input, tr, td, table, .card-text, .card-title {
  font-family: "Open Sans", sans-serif !important; }

.cursor {
  cursor: pointer; }

p {
  font-family: 'Open Sans'; }

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 30px; }

a, p {
  font-size: 14px;
  font-weight: 300; }

.nav-transparent {
  background: transparent !important; }

.modal {
  z-index: 99999; }

.bar {
  background-image: linear-gradient(to right, #038E45, #038E45);
  width: 250px;
  height: 27px;
  display: block;
  border-radius: 50px;
  position: absolute; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: .8rem; }

.img-depoimento {
  width: 120px !important;
  border-radius: 50%;
  height: 120px;
  margin: 20px auto; }

.table-responsive {
  display: inline-table !important; }

.bg-green {
  background-color: #038E45; }

.underline {
  text-decoration: underline; }

.btn-green {
  background-color: #038E45;
  color: #ffffff;
  font-weight: bold;
  border-radius: 10px;
  padding: 8px 25px; }

@media (max-width: 850px) {
  .table-responsive {
    display: block !important; } }
.navbar {
  z-index: 999; }

.navbar-nav {
  margin-top: -26px;
    /* .active {
      color: $white !important;
      border-top: 6px solid $color-dynamic;

      .nav-link {
        padding: 2px 13px;
        background: $color-dynamic;
        border-radius: 40px;
        color: $white !important;

        &:hover {
          color: $white !important;
          font-weight: bold;
        }
      }
    } */ }
  .navbar-nav .nav-item {
    color: #AEB9CA !important;
    font-weight: normal;
    padding-top: 20px;
   /*  .active{
      padding: 2px 13px;
  background: #ff731e;
  border-radius: 40px;
    } */ }
    .navbar-nav .nav-item .nav-link {
      color: #ffffff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .navbar-nav .nav-item .nav-link:hover {
        font-weight: bold;
        color: #fff; }
  .navbar-nav .cadastrar {
    background: #038E45;
    border-radius: 4px 0 0 4px;
    font-weight: bold; }
  .navbar-nav .login {
    background: #038E45;
    border-radius: 0 4px 4px 0;
    font-weight: bold; }
  .navbar-nav .cadastrar:hover,
  .navbar-nav .login:hover {
    background: #ffffff; }

.bg-scroll {
  background-color: #3c9daf !important;
  width: 100% !important;
  z-index: 999 !important;
  position: fixed !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .bg-scroll .nav-item {
    color: #fff !important; }
    .bg-scroll .nav-item .nav-link {
      color: #fff; }
  .bg-scroll .cadastrar {
    background: #038E45;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .login {
    background: #038E45;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .cadastrar:hover,
  .bg-scroll .login:hover {
    background: #db6722;
    color: #ffffff !important; }

.color-default {
  color: #038E45; }

.bold {
  font-weight: bold; }

.btn-default {
  color: #ffffff !important;
  background-image: linear-gradient(to right, #038E45, #038E45) !important;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.green {
  background-color: green !important;
  color: #fff !important;
  font-weight: normal;
  padding: 5px 15px; }

.btn-download {
  color: #292929 !important;
  background-color: #ebe9e9 !important;
  border: 1px solid #ebe9e9;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-download:hover {
  background-color: #d4d2d2 !important;
  border: 1px solid #d4d2d2; }

.btn-transparent {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 1px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-transparent:hover {
  background-color: #038E45 !important;
  border: 1px solid #038E45; }

.inputgroupicon {
  position: relative; }
  .inputgroupicon .input-search {
    border-radius: 30px;
    height: 40px;
    background: transparent;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    padding: 10px 40px;
    font-size: 15px;
    max-width: 170px; }
  .inputgroupicon .icon-search {
    position: absolute;
    color: #2a2a2a;
    font-size: 20px;
    display: block;
    top: 12px;
    left: 15px; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff7307;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 7, 0.25); }

form#sendmessage input {
  background: #dbdbdb;
  color: #292929;
  border-radius: 10px;
  height: 55px;
  margin-bottom: 15px; }
form#sendmessage textarea {
  background: #dbdbdb;
  color: #292929;
  border-radius: 21px;
  margin-bottom: 15px;
  padding: 20px; }
form#sendmessage button {
  cursor: pointer; }

body {
  overflow-x: hidden;
  background-color: #ffffff; }

.general {
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0; }
  .general img {
    height: 100vh;
    border-radius: 80px 0 0 80px;
    width: auto !important; }

.owl-stage-outer {
  border-radius: 80px 0 0 80px; }

section#header .align-step {
  text-align: right; }
section#header .bg-green {
  width: 150px;
  font-weight: bold;
  font-size: 20px;
  padding: 6px 21px;
  border-radius: 10px;
  color: #fff;
  text-align: center; }
@media (max-width: 850px) {
  section#header .btn-center-topzera {
    margin: 10px auto; } }
section#header .title {
  color: #1B325E;
  font-weight: 700; }
section#header .aling-aux {
  text-align: left; }
section#header p {
  color: #AEB9CA;
  font-size: 14px; }
section#header #map {
  border-radius: 30px; }
section#header .text-align-links-footer {
  text-align: right; }
section#header .text-left-center {
  text-align: left; }
section#header .text-right-center {
  text-align: right; }
@media (max-width: 850px) {
  section#header .align-step,
  section#header .aling-aux {
    text-align: center; }
  section#header .mmt-20 {
    margin-top: 20px; }
  section#header .title,
  section#header .text-sm-center,
  section#header .text-align-links-footer,
  section#header .text-left-center,
  section#header .text-right-center {
    text-align: center; }
  section#header .align-link-modal {
    width: 100%;
    clear: both;
    display: block;
    margin-top: 10px; } }
section#header .footer p {
  font-weight: 700;
  font-size: 15px; }
section#header .footer a {
  font-weight: 700;
  color: #AEB9CA !important;
  font-size: 15px; }
section#header .footer a:hover {
  text-decoration: underline; }
section#header .owl-nav {
  position: absolute;
  bottom: 20px;
  right: 10px; }
section#header .owl-next,
section#header .owl-prev {
  color: #fff;
  background: #038e45;
  padding: 5px 13px;
  border-radius: 10px;
  margin-left: 5px; }
section#header .icon-border {
  -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px; }
  section#header .icon-border img {
    width: 40px; }
@media (max-width: 850px) {
  section#header .icon-border {
    margin: 10px auto; } }

div#step {
  padding-top: 20px; }
  div#step .title {
    font-size: 30px; }
  div#step .link {
    color: #AEB9CA;
    font-size: 14px; }
  div#step .link:hover {
    text-decoration: underline; }
  div#step .box {
    -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 50px; }
  div#step .label-float {
    position: relative;
    padding-top: 13px; }
  div#step .label-float input {
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius: 0; }
  div#step .label-float input:focus {
    border-bottom: 2px solid #FAED21; }
  div#step .label-float input::placeholder {
    color: transparent; }
  div#step .label-float label {
    pointer-events: none;
    position: absolute;
    color: #AEB9CA;
    top: 0;
    left: 0;
    margin-top: 27px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out; }
  div#step .label-float input:required:invalid + label {
    color: #AEB9CA; }
  div#step .label-float input:focus:required:invalid {
    border-bottom: 2px solid #FAED21; }
  div#step .label-float input:required:invalid + label:before {
    content: '*'; }
  div#step .label-float input:focus + label,
  div#step .label-float input:not(:placeholder-shown) + label {
    font-size: 13px;
    margin-top: 0;
    color: #AEB9CA; }

/*# sourceMappingURL=main.css.map */
