body{
    overflow-x: hidden;
    background-color: $body-color;
}

.general{
    position: fixed;
    height: 100vh;
    right: 0;
    top: 0;

    img{
        height: 100vh;
        border-radius: 80px 0 0 80px;
        width: auto!important;
        margin-left: -2px;
    }
}

.owl-stage-outer{
    border-radius: 80px 0 0 80px;
}

section#header {
    .align-step{
        text-align: right;
    }
   .bg-green{
       width: 150px;
       font-weight: bold;
       font-size: 20px;
       padding: 6px 21px;
       border-radius: 10px;
       color: #fff;
       text-align: center;
   }

   @media (max-width: $screen-sm) {
       .btn-center-topzera {
           margin: 10px auto;
       }
   }

   .title{
       color: #1B325E;
       font-weight: 700;
   }

   .aling-aux {
       text-align: left;
   }

   p {
       color: #AEB9CA;
       font-size: 14px;
   }

   #map{
       border-radius: 30px;
   }

   .text-align-links-footer {
       text-align: right;
   }

   .text-left-center{
       text-align: left;
   }

   .text-right-center{
       text-align: right;
   }

   
   @media (max-width: $screen-xs) {
    .title-index{
        margin-top: -30px!important;
    }
   }
   
   @media (max-width: $screen-sm) {
       .align-step,
       .aling-aux {
           text-align: center;
       }

       .mmt-20{
            margin-top: 20px;
       }

       

       .title,
       .text-sm-center,
       .text-align-links-footer,
       .text-left-center,
       .text-right-center {
           text-align: center;
       }

       .align-link-modal {
           width: 100%;
           clear: both;
           display: block;
           margin-top: 10px;
       }
   }

   .footer{
       p {
           font-weight: 700;
           font-size: 15px;
       }
       a {
           font-weight: 700;
           color: #AEB9CA !important;
           font-size: 15px;
       }

       a:hover {
           text-decoration: underline;
       }
   }

   .owl-nav{
       position: absolute;
       bottom: 20px;
       right: 10px;
   }

   .owl-next,
   .owl-prev {
       color: #fff;
       background: #038e45;
       padding: 5px 13px;
       border-radius: 10px;
       margin-left: 5px;
   }

   
    .icon-border {
        -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        width: 80px;
        height: 80px;
        text-align: center;
        line-height: 80px;

        img{
            width: 40px;
        }
    }

    @media (max-width: $screen-sm) {
        .icon-border {
            margin: 10px auto;
        }
    }
}

div#step{
    padding-top: 20px;
    .title{
        font-size: 30px;
    }

    .link {
        color: #AEB9CA;
        font-size: 14px;
    }

    .link:hover {
        text-decoration: underline;
    }


    .box {
        -webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        padding: 50px;

    }


    .label-float {
        position: relative;
        padding-top: 13px;
    }

    .label-float input {
        border: 0;
        border-bottom: 2px solid lightgrey;
        outline: none;
        min-width: 180px;
        width: 100%;
        height: 40px;
        font-size: 16px;
        transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -webkit-appearance: none;
        border-radius: 0;
    }

    .label-float input:focus {
        border-bottom: 2px solid #FAED21;
    }

    .label-float input::placeholder {
        color: transparent;
    }

    .label-float label {
        pointer-events: none;
        position: absolute;
        color: #AEB9CA;
        top: 0;
        left: 0;
        margin-top: 27px;
        transition: all .3s ease-out;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
    }

    .label-float input:required:invalid+label {
        color: #AEB9CA;
    }

    .label-float input:focus:required:invalid {
        border-bottom: 2px solid #FAED21;
    }

    .label-float input:required:invalid+label:before {
        content: '*';
    }

    .label-float input:focus+label,
    .label-float input:not(:placeholder-shown)+label {
        font-size: 13px;
        margin-top: 0;
        color: #AEB9CA;
    }

}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .step-02{
        transform: scale(.75)!important; 
        margin-top: -70px;  
    }

    .step-03{
        transform: scale(.75)!important; 
        margin-top: -70px;  
    }
    
    .step-04{
        transform: scale(.75)!important; 
        margin-top: -70px;  
    }
    
    .step-05{
        transform: scale(.75)!important; 
        /* margin-top: -70px;  */ 
    }

    .footer a{
        font-size: 13px!important;
    }
}

